/* talindcss */
@import "tailwindcss";

/* global font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* dark */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: normal;
}


@theme {
--color-primary: #092c67;
--color-dark-mood: #021526;
--color-light-mood: #EEEEEE;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}
.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-4px);
}
  .save-button {
    background: linear-gradient(145deg, #6e7dff, #4c5df2);
    color: white;
    border: 2px solid transparent;
    border-radius: 12px;
    font-weight: 500;
    padding: 5px 15px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .save-button:hover {
    background: linear-gradient(145deg, #4c5df2, #6e7dff);
    transform: translateY(-2px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.12);
  }
  
  .save-button:active {
    transform: translateY(1px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.08);
  }
  
  .save-button:disabled {
    background: #a1b3ff;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  .delete-button {
  background: linear-gradient(145deg, #ff416c, #ff4b2b);
  color: white;
  border: 2px solid transparent;
  border-radius: 12px;
  font-weight: 500;
  padding: 5px 20px;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button:hover {
  background: linear-gradient(145deg, #ff4b2b, #ff416c);
  transform: translateY(-2px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.delete-button:active {
  transform: translateY(1px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.delete-button:disabled {
  background: #ffb3b3;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}